@font-face {
  font-family: Poppins;
  src: url('./Poppins/Poppins-Medium.ttf');
}

.boxed {
  max-width: 1200px;
  margin: auto;
}
* {
  margin: 0;
  padding: 0;
  font-style: normal;
  outline: none;
  scrollbar-color: red;
}

::-webkit-scrollbar:horizontal {
  width: 10px;
  background-color: red;
}

.app-area {
  font-size: 12px;
}

.ant-table {
  font-size: 12px !important;
}

.ant-form .ant-form-item {
  margin-bottom: 12px;
}

.light-green {
  color: #e7f6e7;
}

.bg-light-green {
  background-color: #e7f6e7;
}

.opacity-5 {
  opacity: 0.5;
}

.bg-color {
  background: linear-gradient(308.29deg, #d3d4f0 -23.24%, #ffffff 98.34%);
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}
.anticon[tabindex] {
  cursor: pointer;
  color: white;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}

.pointer {
  cursor: pointer;
}

.link {
  border-bottom: 1px solid #c0c0c0;
  cursor: pointer;
}

.button {
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.icon.active {
  color: #5bc685;
}

.clear-date-style::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.flex-1 {
  flex: 1;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.border-l-fa {
  border-left: 1px solid #f1f1f1;
}
.mr-20 {
  margin-right: 20px;
}
/* text */
.red {
  color: red;
}
.black {
  color: black;
}

.text-underline {
  text-decoration: underline;
}

.date-area {
  position: relative;
  height: 30px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 1px solid #c0c0c0;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.date-area .date {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  opacity: 0;
}
:where(.css-dev-only-do-not-override-1j2hudi).ant-btn-primary {
  background-color: #f89e0f;
}

.date-area .text {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 0 5px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.gray {
  color: gray;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  padding: 0 24px;
}

.filters .filter-item {
  display: flex;
  align-items: center;
  color: #3a3a3a;
  margin: 15px 20px 15px 0;
}

.filters .filter-item:nth-last-child(1) {
  margin-right: 0;
}

.icon {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

/* margin */
.m-5 {
  margin: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-8 {
  margin-top: 15px;
}

.m-t-3 {
  margin-top: 3px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-8 {
  margin-bottom: 15px;
}

.m-b-3 {
  margin-bottom: 3px;
}

/* padding */
.p-5 {
  padding: 5px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-8 {
  padding-top: 15px;
}

.p-b-3 {
  padding-bottom: 3px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-8 {
  padding-bottom: 15px;
}

.p-b-3 {
  padding-bottom: 3px;
}

/* color */
.bg-color-f1 {
  background-color: #f1f1f1;
}

.bg-color-fa {
  background-color: #fafafa;
}

.border-box {
  box-sizing: border-box;
}

/* ant css */
.ant-page-header {
  padding: 6px 0 !important;
}

.q-btn {
  padding: 0 8px;
  border-radius: 3px;
  min-height: 30px;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c0c0c0;
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-7fkadk).ant-page-header .ant-page-header-heading-title {
  font-size: 25px;
  font-weight: 700;
}

.btn-red {
  border: none;
  background: linear-gradient(to top, #dd4b08, #ff5b04);
  color: #ffffff;
}

.btn-blue {
  border: none;
  background: linear-gradient(to top, #108ee9, #069eff);
  color: #ffffff;
}

.color-green {
  color: #79bc60;
}

.color-red {
  color: #dd4b08;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.btn-bg-color-primary {
  min-width: 100px;
  color: #fff;
  border-radius: 10px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #933ee2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn-bg-color-green {
  min-width: 100px;
  color: #fff;
  border-radius: 10px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #933ee2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.bt-h {
  height: 100px;
  opacity: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}

.active-color {
  color: #ffffff;
}

.active-bg-color {
  background: #933ee2;
}
.ant-table-title {
  color: white;
  background-color: #6c6cce;
  font-size: 15px;
  font-weight: 500;
}
.ant-form-item-required {
  font-weight: bolder;
  font-size: 24px;
  font-family: Poppins;
}
